##############################
## Common
##############################
**/bin/
**/build/
**/out/
**/tmp/
**/doc/
**/log
**/logs
**/target/
**/debug/

*.log
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

##############################
## Java
##############################
local.properties
gradle-app.setting
!gradle-wrapper.jar

*.idea/
*.idea_modules/
*.settings/
*.mtj.tmp/
.metadata
.classpath
.project
.loadpath
.factorypath
.gradle
.gradletasknamecache


hs_err_pid*
replay_pid*

*.iml
*.ipr
*.iws
*.tmp
*.bak
*.swp
*.class
*.jar
*.war
*.ear
*.nar
*~.nib

##############################
## Visual Studio Code
##############################
*.vscode/
.code-workspace

##############################
## OS X
##############################
.DS_Store

##############################
## Miscellaneous
##############################

##############################
## Elixir And Erlang
##############################
**/_build/
**/cover/
**/deps/
**/ebin
**/_checkouts
**/_vendor

erl_crash.dump
rebar3.crashdump
misc-*.tar

.fetch
.erlang.cookie
.rebar
.elixir_ls
.rebar3
.eunit

*.ez
*.o
*.beam
*.plt
*.swo
*~

##############################
## Rust
##############################
Cargo.lock
**/*.rs.bk
*.pdb

##############################
## Python
##############################

#Folder
**/site
**/__pycache__/
**/develop-eggs/
**/dist/
**/downloads/
**/eggs/
**/lib64/
**/parts/
**/sdist/
**/var/
**/wheels/
**/share/python-wheels/
**/htmlcov/
**/instance/
**/docs/_build/
**/env/
**/venv/
**/ENV/
**/env.bak/
**/venv.bak/
**/profile_default/
**/__pypackages__/
**/cython_debug/

**/celerybeat-schedule

#Files
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
nosetests.xml
coverage.xml
local_settings.py
db.sqlite3
db.sqlite3-journal
celerybeat.pid
ipython_config.py
dmypy.json

#Dot Directories
*.eggs/
*.pyre/
*.pytype/
*.tox/
*.nox/
*.hypothesis/
*.pytest_cache/
*.mypy_cache/
*.pybuilder/

.spyderproject
.spyproject
.ropeproject
.env
.venv
.ipynb_checkpoints
.webassets-cache
.scrapy
.coverage
.coverage.*
.cache
.Python

.installed.cfg
.dmypy.json
.pdm.toml

*.egg-info/
*.manifest
*.egg
*.spec
*.py[cod]
*$py.class
*.mo
*.pot
*.cover
*.py,cover
*.sage.py


##############################
## Golang
##############################
go.work
go.work.sum
